@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form method="get" asp-action="GetIf">
        <div class="form-group">
            <label for="xDoIf">Valor de x:</label>
            <input type="text" name="x" id="xDoIf" />
        </div>
        <button type="submit">
            GetIf
        </button>
    </form>
</div>

<div>
    <form method="get" asp-action="GetSwitch">
        <div class="form-group">
            <label for="xDoSwitch">Valor de x:</label>
            <input type="text" name="x" id="xDoSwitch" />
        </div>
        <button type="submit">
            GetSwitch
        </button>
    </form>
</div>
